* {
    font-family: "'DM Sans', sans-serif";
    font-size: 20px;
    margin: 5px;
}

/* Header Section */

header {
    width: 100%;
}

header div {
    border-radius: 25px;
    border: 5px solid darkgoldenrod;
    padding: 20px;
    text-align: center;

}

header div *{
    display: inline-block;
    padding: 10px;
}

#portrait {
    position: relative;
    top: -15px;
    float: left;
    border-radius: 50%;
    width: 100px;
    text-align: left;
}

h1 {
    font-size: 30px;
}

header div nav {
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

/* About  Section*/

.row {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 25%;
}
  
.right {
    flex: 75%;
}

td {
    padding: 15px;
  }

/* Projects Section */
.screenshots {
    width: 100%;
    border: 5px solid darkgoldenrod;
    position: relative;

}

.project {
    width: 40%;
    text-align: center;
    padding-right: 20px;
}

.flex-projects {
    display: flex;
    flex-flow: row wrap;
}

/* Footer Section */
#message {
    height: 200px;
}

/* Media Queries */


@media screen and (max-width: 768px) {
    header div nav {
        font-size: 20px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    body {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .flex-projects {
        width: 100%;
    }

    section {
        width: 100%;
    }
  }